node_modules
.eslintcache
.ignore
src
npm-debug.log

###############################################################################
# Vim
###############################################################################
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

